<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <style>
       div {
       text-align: center;
       background-color: lightblue;
       color: black;
       }
       p {
       text-align: center;
        background-color: blue;
       }


    </style>
</head>
<body>
<div>
    <h1> Provide the data</h1>
    <!--<h1 th:if="${isLoanAccepted != null}"-->
    <!--th:style="'color: ' + ${isLoanAccepted ? 'green' : 'red'}"-->
    <!--th:text="${isLoanAccepted ? #messages.msg('Calculator.accepted') : #messages.msg('Calculator.refused')}"></h1>-->

    <form method="post" action="/calculator" th:object="${calculatorForm}">

        Loan amount: <input type="text" th:field="*{loanAmount}">
        <span th:if="${#fields.hasErrors('loanAmount')}" th:errors="*{loanAmount}"></span> <br/>
        Salary: <input type="text" th:field="*{salary}">
        <span th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></span> <br/>

        Numbers of months: <input type="number" th:field="*{months}">
        <span th:if="${#fields.hasErrors('months')}" th:errors="*{months}"></span> <br/>

        Monthly expenses: <input type="text" th:field="*{expenses}">
        <span th:if="${#fields.hasErrors('expenses')}" th:errors="*{expenses}"></span> <br/>

        <input type="submit" value="Submit">
    </form>
    <img th:src="@{loan.jpg}"/>
</div>

</body>
</html>